Package: com.zjx.ioscontrol
Name: ZXTouch
Version: 1.0.0
Depends: mobilesubstrate | ellekit, firmware (>= 15.0)
Architecture: iphoneos-arm64
Description: ZXTouch Main Application (rootless, iOS 15-16)
Maintainer: Jason Z
Author: Jason Z
Section: Utilities
Tag: role::developer
