Package: com.zjx.pccontrol
Name: ZJXSimulateTouch
Depends: mobilesubstrate | ellekit, firmware (>= 15.0)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: iOS touch simulation library (rootless, iOS 15-16)
Maintainer: Jason Z
Author: Jason Z
Section: Tweaks
