<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.zjx.zxrunner</string>
    <key>ProgramArguments</key>
    <array>
        <string>/var/jb/usr/libexec/zxrunner</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <!-- 常驻 socket server，崩了 launchd 自动重启 -->
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/zxrunner_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/zxrunner_stderr.log</string>
</dict>
</plist>
